* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.location-position{
    margin: 10px;
    font-size: 30px;
}

.temperature, .description{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin: 10px;
    font-size: 30px;
}

 footer {
     position: absolute;
     top: 95%;
     text-align: center;
 }

